body {
    background-color: ghostwhite;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}